# ~/.config/wallpaper/wallpaper.conf

IMAGE_DIRS=(
"$HOME/Pictures/wallpapers"
)

VIDEO_DIRS=(
"$HOME/Video"
"$HOME/Video/wallpapers"
)

VIDEO_BACKEND="/usr/lib/i3-wallpaper-rofi/video-wallpaper"

SHOW_ICONS=true

IMAGE_ICON="󰈟 "
VIDEO_ICON="󰈈 "

ROFI_THEME="gruvbox-dark"

ROFI_PROMPT="Wallpaper"

ROFI_MESSAGE="Select wallpaper"

SORT_MODE="name"
